# Ігноруємо SCSS, щоб Prettier не блокувався через @import
scss/

# Ігноруємо згенеровані CSS-файли
css/

# Ігноруємо мапи
*.map

# Ігноруємо node_modules (якщо є)
node_modules/

# Ігноруємо збірку (якщо зʼявиться)
dist/
build/

# Ігноруємо тимчасові файли VS Code
.vscode/

# Ігноруємо системні файли
.DS_Store
Thumbs.db
