// Відступи (для зручності)

.spacer-xs {
  margin-bottom: $spacing-xs !important;
}

.spacer-sm {
  margin-bottom: $spacing-sm !important;
}

.spacer-md {
  margin-bottom: $spacing-md !important;
}

